<%= stylesheet_link_tag 'relatorios/style', :media => "all" %>
<h1>Relatórios / Downloads por edital</h1>

<dl id="details">
  <dt>Edital:</dt>
  <dd><%= @edital.nome %></dd>
  <dt>Data de publicação:</dt>
  <dd><%= l @edital.data_publicacao %></dd>
  <dt>Data limite:</dt>
  <dd><%= l @edital.data_limite %></dd>
</dl>

<h2>Resumo</h2>
<table id="resumo_downloads">
  <thead>
    <tr>
      <th class='nome_do_arquivo'>Arquivo</th>
      <th class='quantidade_de_downloads'>Downloads</th>
    </tr>
  </thead>
  <tbody>
    <% @resumo_downloads.each do |resumo| %>
      <tr>
        <td><%= resumo.nome_documento %></td>
        <td class='quantidade'><%= resumo.quantidade_de_downloads.to_i %></td>
      </tr>
    <% end %>
    <tr>
      <td class='total'>TOTAL</td>
      <td class='quantidade'><%= @resumo_downloads.all.sum(&:quantidade_de_downloads).to_i %></td>
    </tr>
  </tbody>
</table>

<h2>Empresas que baixaram este edital</h2>
<table id="empresas">
  <thead>
    <tr>
      <th class='cnpj'>CNPJ</th>
      <th class='razao_social'>Empresa</th>
      <th class='email'>E-mail</th>
      <th class='telefones'>Telefones</th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.cnpj %></td>
        <td><%= empresa.razao_social %></td>
        <td><%= empresa.email %></td>
        <td>
          <%= empresa.telefone_1 %>
          <% if empresa.telefone_2.present? %>
            / <%= empresa.telefone_2 %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='actions'>
  <%= link_to t('navigation.back'), admin_edital_url(@edital) %>
</div>
