<%= javascript_include_tag 'jquery.maskedinput-1.3.min', 'empresas/create' %>

<%= form_for(@empresa) do |f| %>
  <%= hidden_field_tag :e, params[:e] %>
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2>Encontramos os seguintes erros ao tentar salvar a empresa:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :razao_social %>
    <%= f.text_field :razao_social %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefone_1 %>
    <%= f.text_field :telefone_1 %>
  </div>
  <div class="field">
    <%= f.label :telefone_2 %>
    <%= f.text_field :telefone_2 %>
  </div>
  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :responsavel %>
    <%= f.text_field :responsavel %>
  </div>
  <div class="field">
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
