<%= form_for(@edital, :html => {:multipart => true}) do |f| %>
  <% if @edital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edital.errors.count, "error") %> prohibited this edital from being saved:</h2>

      <ul>
      <% @edital.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :resumo %><br />
    <%= f.text_area :resumo %>
  </div>
  <div class="field">
    <%= f.label :data_publicacao %><br />
    <%= f.date_select :data_publicacao %>
  </div>
  <div class="field">
    <%= f.label :data_limite %><br />
    <%= f.date_select :data_limite %>
  </div>

  <%= f.fields_for :documentos do |documento_form| %>
    <div class="field">
      <%= documento_form.label :nome %><br />
      <%= documento_form.text_field :nome %>
    </div>
    <div class="field">
      <%= documento_form.label :data_publicacao %><br />
      <%= documento_form.date_select :data_publicacao %>
    </div>
    <div class="field">
      <%= documento_form.file_field :arquivo %>
      <%= documento_form.hidden_field :arquivo_cache %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
