<h1>Editais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Resumo</th>
    <th>Data publicação</th>
    <th>Data limite</th>
    <th></th>
  </tr>

<% @editais.each do |edital| %>
  <tr>
    <td><%= edital.nome %></td>
    <td><%= edital.resumo %></td>
    <td><%= l edital.data_publicacao %></td>
    <td><%= l edital.data_limite %></td>
    <td><%= link_to 'Detalhes', edital %></td>
  </tr>
<% end %>
</table>
