<table>
  <caption>Editais Abertos</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Resumo</th>
      <th>Data publicação</th>
      <th>Data limite</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @editais.each do |edital| %>
    <tr>
      <td><%= edital.nome %></td>
      <td><%= edital.resumo %></td>
      <td><%= l edital.data_publicacao %></td>
      <td><%= l edital.data_limite %></td>
      <td><%= link_to 'Detalhes', edital %></td>
    </tr>
<% end %>
  </tbody>
</table>
