<%= stylesheet_link_tag 'editais/index' %>
<%= content_for :sidebar do %>
  <h2>Buscar editais</h2>
  <%= form_tag({}) do %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar' %>
  <% end %>
<% end %>

<h1>Editais em aberto</h1>
<ul id="lista">
  <% @editais.each do |edital| %>
    <li>
      <h2><%= link_to edital.nome, edital %></h2>
      <p class="date"><%= l edital.data_publicacao %> até <%= l edital.data_limite %> - <%= edital.tag_list %></p>
      <p class="resumo"><%= edital.resumo %></p>
    </li>
  <% end %>
</ul>
