<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @edital.nome %>
</p>

<p>
  <b>Resumo:</b>
  <%= @edital.resumo %>
</p>

<p>
  <b>Data publicação:</b>
  <%= @edital.data_publicacao %>
</p>

<p>
  <b>Data limite:</b>
  <%= @edital.data_limite %>
</p>

<p>
  <b>Arquivos</b>
  <ul>
  <% @edital.documentos.each do |documento| %>
    <li>
      <%= link_to "#{documento.nome} - #{l(documento.data_publicacao)}", downloads_url(:d => documento.id), :method => :post %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to t('navigation.back'), editais_url %>
