<%= stylesheet_link_tag 'empresas/show' %>

<h1 id='title'><%= @edital.nome %></h1>

<div id='resumo'>
  <h2 id='subtitle'>Informações</h2>
  <%= @edital.resumo %>
</div>

<div id="info">
  <h3>Data de publicação</h3>
  <span class="date"><%= l @edital.data_publicacao %></span>

  <h3>Data limite</h3>
  <span class="date"><%= l @edital.data_limite %></span>

  <h3 id="files-title">Arquivos</h3>
  <ul id="files">
  <% @edital.documentos.each do |documento| %>
    <li>
      <div class="image-box">
        <%= image_tag 'icons/document-invoice.png' %>
      </div>
      <div class="description-box">
        <%= link_to documento.nome, downloads_url(:d => documento.id), :method => :post %>
        <span class='date'><%= l(documento.data_publicacao) %></span>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<div class="clear"></div>
<%= link_to t('navigation.back'), editais_url %>


