<%= stylesheet_link_tag 'editais/show' %>
<%= content_for :sidebar do %>
  <h3>Data de publicação</h3>
  <span class="date"><%= l @edital.data_publicacao %></span>

  <h3>Data limite</h3>
  <span class="date"><%= l @edital.data_limite %></span>

  <h3 id="files-title">Arquivos</h3>
  <ul id="files">
  <% if @edital.documentos.empty? %>
    <li>
      Nenhum arquivo ainda enviado
    </li>
  <% else %>
    <% @edital.documentos.each do |documento| %>
      <li>
        <div class="image-box">
          <%= image_tag 'icons/document-invoice.png' %>
        </div>
        <div class="description-box">
          <%= link_to documento.nome, downloads_url(:d => documento.id), :method => :post %>
          <span class='date'><%= l(documento.data_publicacao) %></span>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<h1 id='title'><%= @edital.nome %></h1>

<h2 id='subtitle'>Informações</h2>
<div id='resumo'>
  <%= @edital.resumo %>
</div>
