<%= stylesheet_link_tag 'admin/editais/index', :media => "all" %>
<h1>Editais</h1>

<table id="editais">
  <tr>
    <th class='nome'>Nome</th>
    <th>Data publicação</th>
    <th>Data limite</th>
    <th></th>
  </tr>

<% @editais.each do |edital| %>
  <tr>
    <td><%= edital.nome %></td>
    <td><%= l edital.data_publicacao %></td>
    <td><%= l edital.data_limite %></td>
    <td>
      <%= link_to t('navigation.show'), admin_edital_path(edital) %>
      <%= link_to t('navigation.edit'), edit_admin_edital_path(edital) %>
      <%= link_to t('navigation.destroy'), admin_edital_path(edital), :confirm => t('navigation.confirm'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @editais %>

<br />

<%= link_to 'Novo edital', new_admin_edital_path %>
