<h1> <%= link_to 'Editais', admin_editais_url %> / <%= @edital.nome %> </h1>

<dl>
  <dt>Resumo:</dt>
  <dd><%= @edital.resumo %></dd>
  <dt>Palavras chave:</dt>
  <dd><%= @edital.tag_list %></dd>
  <dt>Site:</dt>
  <dd><%= @edital.site %></dd>
  <dt>Data de publicação:</dt>
  <dd><%= l @edital.data_publicacao %></dd>
  <dt>Data limite:</dt>
  <dd><%= l @edital.data_limite %></dd>
</dl>

<p>
  <b>Arquivos</b>
  <ul>
  <% @edital.documentos.each do |documento| %>
    <li>
      <%= link_to documento.nome, documento.arquivo.url %> - <%= documento.data_publicacao %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Adicionar novo arquivo', new_admin_edital_documento_path(@edital) %> |
<%= link_to t('navigation.edit'), edit_admin_edital_path(@edital) %> |
<%= link_to 'Ver todos os downloads para este edital', admin_relatorio_downloads_por_edital_url(@edital.id) %> |
<%= link_to t('navigation.back'), admin_editais_path %>
