<p>
  <b>Nome:</b>
  <%= @edital.nome %>
</p>

<p>
  <b>Resumo:</b>
  <%= @edital.resumo %>
</p>

<p>
  <b>Palavras chave:</b>
  <%= @edital.tag_list %>
</p>

<p>
  <b>Site:</b>
  <%= link_to @edital.site, @edital.site %>
</p>

<p>
  <b>Data publicação:</b>
  <%= l @edital.data_publicacao %>
</p>

<p>
  <b>Data limite:</b>
  <%= l @edital.data_limite %>
</p>

<p>
  <b>Arquivos</b>
  <ul>
  <% @edital.documentos.each do |documento| %>
    <li>
      <%= link_to documento.nome, documento.arquivo.url %> - <%= documento.data_publicacao %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Adicionar novo arquivo', new_admin_edital_documento_path(@edital) %> |
<%= link_to t('navigation.edit'), edit_admin_edital_path(@edital) %> |
<%= link_to 'Ver todos os downloads para este edital', admin_relatorio_downloads_por_edital_url(@edital.id) %> |
<%= link_to t('navigation.back'), admin_editais_path %>
