<%= stylesheet_link_tag 'admin/editais/show' %>
<h1> <%= link_to 'Editais', admin_editais_url %> / <%= @edital.nome %> </h1>

<dl>
  <dt>Resumo:</dt>
  <dd><%= @edital.resumo %></dd>
  <dt>Palavras chave:</dt>
  <dd><%= @edital.tag_list %></dd>
  <dt>Site:</dt>
  <dd><%= @edital.site %></dd>
  <dt>Data de publicação:</dt>
  <dd><%= l @edital.data_publicacao %></dd>
  <dt>Data limite:</dt>
  <dd><%= l @edital.data_limite %></dd>
  <dt>Arquivos:</dt>
  <dd>
    <ul id="files">
    <% if @edital.documentos.empty? %>
      <li>
        Nenhum arquivo até este momento
      </li>
    <% else %>
      <% @edital.documentos.each do |documento| %>
        <li>
          <div class="image-box">
            <%= image_tag 'icons/document-invoice.png' %>
          </div>
          <div class="description-box">
            <div class='file-details'>
              <span class='file-name'><%= documento.nome %></span> - 
              <%= link_to 'Editar', edit_admin_edital_documento_url(@edital, documento) %> |
              <%= link_to 'Baixar', documento.arquivo.url %>
            </div>
            <span class='date'><%= l(documento.data_publicacao) %></span>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </dd>
</dl>

<%= link_to 'Adicionar novo arquivo', new_admin_edital_documento_path(@edital) %> |
<%= link_to t('navigation.edit'), edit_admin_edital_path(@edital) %> |
<%= link_to 'Ver todos os downloads para este edital', admin_relatorio_downloads_por_edital_url(@edital.id) %> |
<%= link_to t('navigation.back') + ' para lista de editais', admin_editais_path %>
